from bottle import run
import bottle

#foreach( $entity in $selectedEntities )
import ressources.${entity.name}_ressource 
#end

if __name__ == "__main__":
    run(host='localhost', port=3000)

app = bottle.default_app()
