##--------------------------------------------------------------------------------------------------------
#set( $list1 = [] )
#set( $list2 = [] )
#set( $list3 = [] )
#set( $list4 = [] )
##--------------------------------------------------------------------------------------------------------
import unittest
import datetime

#foreach( $entity in $selectedEntities )
#if( ! $entity.hasCompositePrimaryKey() )
from entities.${entity.name} import ${entity.name}
from dao.${entity.name}_dao import ${entity.name}Dao

#end
#end

#foreach( $entity in $selectedEntities )
from commons.UnitTest.${entity.name}_unit_test_ import TestDao${entity.name}
#end

#foreach( $entity in $selectedEntities )
#if( ! $entity.hasCompositePrimaryKey() )
${entity.name.toLowerCase()}_dao = ${entity.name}Dao()
#end
#end


if __name__ == '__main__':

#foreach( $entity in $selectedEntities )
#if ( ! $entity.hasCompositePrimaryKey() )
    ${SHARP} --- Init $entity.name
    init_${entity.name.toLowerCase()} = ${entity.name}()
#foreach( $attribute in $entity.keyAttributes )
#if( $attribute.isNumberType() )
    init_${entity.name.toLowerCase()}.$attribute.name = 100
#else
    init_${entity.name.toLowerCase()}.$attribute.name = "AAA"
#end
#end
#foreach( $attribute in $entity.nonKeyAttributes )
#if($attribute.isFK())
#if( ! $attribute.isDatabaseNotNull())
    init_${entity.name.toLowerCase()}.$attribute.name = None
#elseif( $attribute.isNumberType())
    init_${entity.name.toLowerCase()}.$attribute.name = 100	
#else
    init_${entity.name.toLowerCase()}.$attribute.name = "AAA"
#end
#elseif( $attribute.isTemporalType())
    init_${entity.name.toLowerCase()}.$attribute.name = datetime.date(1011, 11, 11)
#elseif( $attribute.isNumberType() )
    init_${entity.name.toLowerCase()}.$attribute.name = 111111111
#else
    init_${entity.name.toLowerCase()}.$attribute.name = "AAAAAAAAA"
#end
#end

#end
#end
#foreach( $entity in $selectedEntities )
#if( ! $entity.hasCompositePrimaryKey() )
#if( $entity.databaseForeignKeysCount == 0 )
#if( $list1.add($entity.name))#end
#elseif( $entity.databaseForeignKeysCount == 1 )
#if( $list2.add($entity.name))#end
#elseif( $entity.databaseForeignKeysCount == 2 )
#if( $list3.add($entity.name))#end
#else
#if( $list4.add($entity.name))#end
#end
#end
#end
#foreach( $test in $list1 )
    ${fn.toLowerCase($test)}_dao.insert(init_${fn.toLowerCase($test)})
#end
#foreach( $test in $list2 )
    ${fn.toLowerCase($test)}_dao.insert(init_${fn.toLowerCase($test)})
#end
#foreach( $test in $list3 )
    ${fn.toLowerCase($test)}_dao.insert(init_${fn.toLowerCase($test)})
#end
#foreach( $test in $list4 )
    ${fn.toLowerCase($test)}_dao.insert(init_${fn.toLowerCase($test)})
#end

    unittest.main()
