from configparser import ConfigParser
from sqlalchemy import *
from sqlalchemy.orm import *
from sqlalchemy.ext.declarative import declarative_base


class DataProvider(object):
    def __init__(self):
        config = ConfigParser()
        config.read('C:/Telosys/test-template-derby-postman/commons/config.cfg')
        database_url = config.get('database', 'url_database')
        engine = create_engine(database_url, echo=True)
        self.session = sessionmaker(bind=engine)()
        self.metadata = MetaData(engine)


dp = DataProvider()
Base = declarative_base(metadata=dp.metadata)
