from bottle import run
import bottle
#foreach( $field in $selectedEntities )
import ressources.${field.name}_ressource
#end

if __name__ == "__main__":
    run(host='localhost', port=3000)

app = bottle.default_app()
