import json
import datetime
from entities.${entity.name} import ${entity.name}


class ${entity.name}JsonSerializer(object):
    def to_json(self, entity: ${entity.name}):
        return {
#foreach($field in $entity.attributes)
#if(! $field.isDateType() and $field.databaseType != 'DATETIME')
            "${field.name}": entity.${field.name},
#else
            "${field.name}": str(entity.${field.name}),
#end
#end
        }

    def from_json(self, json_content: str):
        data = json.loads(json_content)
        entity = ${entity.name}()
#foreach( $field in $entity.attributes)
#if( ! $field.isDateType() and $field.databaseType != 'DATETIME' )
        entity.${field.name} = data['${field.name}']
#else
        entity.${field.name} = datetime.datetime.strptime(data['${field.name}'], "%Y-%m-%d %H:%M:%S")
#end
#end
        return entity
